<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
	<!-- <add key="kra3030" value="https://pkgs.dev.azure.com/kra3030/_packaging/kra3030/nuget/v3/index.json" /> -->
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>